<h1>Events</h1>

<% @events.each do |event| %>
  <ul>
    <li>
      <div><%= link_to event.description, event %></div>
      <div><%= link_to event.creator.username, event.creator %></div>
    </li>
  </ul>
<% end %>