// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.event {
  width:30%;
  padding: 8px;
  margin: 3px;
  border: thick solid #666;
  background-color: #eee;

  .title {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1em;
  }
}